.gallery {
    max-width: 880px;
    margin: 46px auto 66px;
}

@media screen and (max-width: 900px) {
    .gallery {
        max-width: 90%;
        margin-top: 36px;
        margin-bottom: 48px;
    }
}