.profile__container-avatar {
  order: -1;
  display: inline-block;
  position: relative;
}

.profile__container-avatar:hover::after {
  cursor: pointer;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../images/pen.svg);
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
}
