.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 880px;
  width: 100%;
  box-sizing: border-box;
  margin: 45px auto 36px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 900px) {
  .header {
    margin-top: 28px;
    margin-bottom: 38px;
    padding-bottom: 31px;
  }
}
